<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="Blog">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Blog</title>
</head>
<body>
    <div id="header"></div>
    <div id="container"></div>
    <div id="footer"></div>
</body>
</html>